{% extends 'base.html' %}
{% block content %}
<div id="welcome-message">
    <h1>Heartbeat Monitor</h1>
</div>
<div id="welcome-div" class="container">
    <form method="post" id="welcome-form">
        <div>
            <input type="text" placeholder="first name..."
            value="{{ request.form['first_name'] }}" />
            <input type="text" placeholder="last name..."
            value="{{ request.form['last_name'] }}" />
        </div>
        <div id="welcome-buttons">
            <input type="submit" value="Login"/>
            <input type="submit" value="Signup"/>
        </div>
    </form>
</div>
{% endblock %}
        